.wrapper {
  padding-top: 25px !important;
  margin-top: 100px !important;
}

.wrapper-empty-cart{
  margin:20px auto;
  height:300px;
}

.wrapper-empty-cart img{
  width: 100%;
  height: 350px;
}



.notify{
  width: 300px;
  height: 50px;
  border: 1px solid #F2F6FA;
  border-radius: 5px;
  position: fixed;
  top: 100px;
  left: 35%;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.remove{
  background-color: red;
}