


<div class="movie-list">
         
  <app-carousel [moviesList]="listMovies"></app-carousel>

  <app-search></app-search>
  <div class="container mt-5">
    <div class="row">
      <ng-container *ngIf="myresult && myresult.length > 0 && searchFlag===true; else showNoResults">
        <!-- Display search results -->
        <div class="movies col-lg-3" *ngFor="let movieDataformList of myresult">
          <app-movie-card [movie]="movieDataformList"></app-movie-card>
        </div>
      </ng-container>
  
      <ng-template #showNoResults>
        <ng-container *ngIf="myresult && myresult.length === 0 && searchFlag===true; else showAllMovies">
          <!-- Display 'No results' message when there are no search results -->
          <div class="no-results-message">
            No results found.
          </div>
          
        </ng-container>
      </ng-template>
  
      <ng-template #showAllMovies>
        <!-- Display all movies when there are no search results -->
        <div>
        <div class="row">
          <div class=" movies  col-lg-3" *ngFor="let movieDataformList of listMovies">
            <app-movie-card [movie]="movieDataformList"></app-movie-card>
          </div> 
      </div>
    </div>
     <!-- Pagination Links -->
<nav aria-label="Page navigation example" class="mt-5">
  <ul class="pagination">
    <li class="page-item">
      <button [ngClass]="pageNum <= 1 ? 'stop-find' : ''" class="page-link" [disabled]="pageNum <= 1" (click)="handlePageNum(pageNum - 1)">Previous</button>
    </li>
    <li class="page-item" >
      <a class="page-link" (click)="handlePageNum(pageNum)">{{ pageNum }}</a>
    </li>
      <li class="page-item" >
        <a class="page-link" (click)="handlePageNum(pageNum+1)" *ngIf="pageNum < 500">{{ pageNum +1}}</a>
      </li>
      <li class="page-item" >
        <a class="page-link" (click)="handlePageNum(pageNum+2)" *ngIf="pageNum < 499">{{ pageNum +2}}</a>
      </li>
      <li class="page-item">
        <button class="page-link" [disabled]="pageNum >= 500" [ngClass]="pageNum >= 500 ? 'stop-find' : ''" (click)="handlePageNum(pageNum + 1)">Next</button>
      </li>
  </ul>
</nav>

      </ng-template>
  </div>
    <!-- refact pagination  -->
  </div>
</div>